[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/maskop/.local/bin/LibreScore.AppImage 
Icon=librescore
Terminal=false
Categories=AudioVideo;Audio;Network;Utility;Midi;Music;
Name=LibreScore
Name[ar]=ليبريسكور
Name[cs]=LibreScore
Name[de]=LibreScore
Name[en]=LibreScore
Name[es]=LibreScore
Name[fr]=LibreScore
Name[hu]=LibreScore
Name[it]=LibreScore
Name[ja]=リブレスコア
Name[ko]=리브레스코어
Name[ms]=LibreScore
Name[nl]=LibreScore
Name[ru]=ЛибрэСкор
Name[zh@Hans]=利布蕾斯科尔
Comment=Download sheet music
Comment[ar]=تنزيل القطعة الموسيقية
Comment[cs]=Stáhnout noty
Comment[de]=Partituren herunterladen
Comment[en]=Download sheet music
Comment[es]=Descargar partituras
Comment[fr]=Télécharger des partitions
Comment[hu]=Kotta letöltése
Comment[it]=Scarica partiture
Comment[ja]=楽譜をダウンロード
Comment[ko]=악보 다운로드
Comment[ms]=Muat turun lembaran muzik
Comment[nl]=Download partituren
Comment[pl]=Pobierz zapisy nutowe utworów
Comment[ru]=Скачать партитуры
Comment[tr]=Notalar indirme
Comment[zh@Hans]=下载乐谱
Keywords=Sheet\smusic;Scores;Downloads;MSCZ;MP3;MIDI;
Keywords[ar]=القطعة\sالموسيقية;موسيقى;التنزيلات;MSCZ;MP3;MIDI;
Keywords[cs]=Partitura;Partitury;Hudba;Stahování;MSCZ;MP3;MIDI;
Keywords[de]=Partituren;Musik;Downloads;MSCZ;MP3;MIDI;
Keywords[en]=Sheet\smusic;Scores;Downloads;MSCZ;MP3;MIDI;
Keywords[es]=Partituras;Música;Descargas;MSCZ;MP3;MIDI;
Keywords[fr]=Partitions;Musique;Téléchargements;MSCZ;MP3;MIDI;
Keywords[hu]=Partitúrák;Zene;Kották;Letöltések;MSCZ;MP3;MIDI;
Keywords[it]=Partitura;Partiture;Spartito;Spartiti;Musica;Download;MSCZ;MP3;MIDI;
Keywords[ja]=楽譜;音楽;ダウンロード;MSCZ;MP3;MIDI;
Keywords[ko]=악보;음악;다운로드;MSCZ;MP3;MIDI;
Keywords[ms]=Partitur;Muzik;Muat\sturun;MSCZ;MP3;MIDI;
Keywords[nl]=Partituur;Muziek;Downloads;MSCZ;MP3;MIDI;
Keywords[ru]=Партитура;Музыка;Загрузки;MSCZ;MP3;MIDI;
Keywords[zh@Hans]=音乐记谱法;音乐;下载;MSCZ;MP3;MIDI;
