[Desktop Entry]
Name=Space Engineers 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/1133870
Icon=steam_icon_1133870
Terminal=false
Type=Application
Categories=Game;
